<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-myplugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>MyPlugin</name>
  <description>An example Cordova plugin using Swift</description>
  <license>Apache 2.0</license>
  <keywords>cordova,ionic,plugin,swift</keywords>
  <engines>
    <engine name="cordova" version=">=7.0.0"/>
    <engine name="cordova-ios" version=">=4.5.4"/>
  </engines>
  <js-module src="www/MyPlugin.js" name="MyPlugin">
    <clobbers target="window.MyPlugin"/>
  </js-module>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="MyPlugin">
        <param name="ios-package" value="MyPlugin" />
      </feature>
    </config-file>
    <source-file src="src/ios/MyPlugin.swift" framework="true"/>
    <header-file src="src/ios/MyPlugin-Bridging-Header.h"/>
    <resource-file src="src/ios/MyPlugin-Bridging-Header.h" target="MyPlugin-Bridging-Header.h" />
    <preference name="UseSwiftLanguageVersion" value="5"/>
    <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
      <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
      </dict>
    </config-file>
    <framework src="libc++.dylib"/>
    <framework src="libz.dylib"/>
  </platform>
</plugin>

